#markdown-root {
  padding-bottom: 50px;
}

#markdown-root h1 {
  font-size: 32px;
  margin: 20px 0;
}

#markdown-root h1::before {
  font-size: 28px;
  content: '#';
  margin-right: 20px;
}

#markdown-root h2 {
  font-size: 28px;
  margin: 16px 0;
}

#markdown-root h2::before {
  font-size: 24px;
  content: '##';
  margin-right: 16px;
}

#markdown-root h3 {
  font-size: 20px;
  margin: 12px 0;
}

#markdown-root em {
  font-weight: 700;
}


#markdown-root h3::before {
  font-size: 16px;
  content: '###';
  margin-right: 8px;
}

#markdown-root pre::before {
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  content: '```';
  height: 10px;
  margin-top: 20px;
}

#markdown-root pre::after {
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  content: '```';
  margin-bottom: 20px;
}

#markdown-root pre > code {
  display: block;
  background-color: #eee;
  border-left: 4px solid #353;
  padding: 20px;
  margin: 10px 5px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: scroll;
}

@media (prefers-color-scheme: dark) {
  #markdown-root pre > code {
    background-color: #000;
  }
}

#markdown-root ul {
  margin: 10px 0;
  list-style-type: none;
  margin-left: 16px;
}

#markdown-root ul > li::before {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
  margin-right: 16px;
  content: '*';
}

#markdown-root ul > li > ul {
  margin: 10px 0;
  list-style-type: none;
  margin-left: 26px;
}

#markdown-root ul > li > ul > li::before {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
  margin-right: 16px;
  content: '*';
}
