:root {
  --header-bg-color: #b0dab0;
  --header-color: #111;
  --main-bg-color: #fff;
  --main-color: #111;
}

a:visited {
  color: darkviolet;
}

a {
  color: darkblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-bg-color: #353;
    --header-color: #e3ffe5;
    --main-bg-color: #222;
    --main-color: #fff;
  }

  a:visited {
    color: coral;
  }

  a {
    color: cyan;
  }
}
